@import "reset";
@import "global";

header {
  padding: 16px 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $gray;

  @media (max-width: 1024px) {
    padding: 16px 27px;
  }

  .logo {
    display: contents;

    a {
      display: contents;
    }

    img {
      width: 119px;
      height: 30px;
    }
  }

  .sacola {
    position: relative;
    cursor: pointer;

    img {
      width: 17px;
      height: 20px;
    }

    div {
      position: absolute;
      bottom: 0;
      right: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: $blue;

      span {
        color: $white;
        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

main {
  padding: 40px 162px;

  @media (max-width: 1024px) {
    padding: 24px 16px;
  }

  .top-main {
    @media (max-width: 1024px) {
      display: none;
    }

    display: flex;
    justify-content: space-between;

    h1 {
      color: $black2;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__ordenar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 142px;
      height: 42px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      cursor: pointer;
      position: relative;

      svg {
        width: 12px;
        height: 9px;
      }

      &__ocultos {
        display: none;
        position: absolute;
        top: 100%;
        left: 1;
        z-index: 1;
        border: 1px solid rgba(0, 0, 0, 0.5);
        width: 142px;
        background-color: $white;

        button {
          all: unset;
          display: block;
          height: 42px;
          width: 130px;
          padding-left: 10px;
          color: $black;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          &:hover {
            background-color: $blue;
          }
        }
      }
    }
  }

  .top-main-mobile {
    @media (min-width: 1025px) {
      display: none;
    }

    h1 {
      color: $black2;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      margin-bottom: 12px;
    }

    &__buttons {
      display: flex;

      button {
        width: 50%;
        border: 1px solid $gray2;
        height: 49px;
        background-color: $white;
        color: $gray2;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
      }
    }
  }

  .middle-main {
    display: flex;
    gap: 11.33%; //CORRIGIR
    margin-top: 54px;

    &__ordem {
      @media (min-width: 1025px) {
        display: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1500px;
      background-color: $white;
      display: none;

      &__titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid $gray2;
        margin-bottom: 30px;
        p {
          color: $gray2;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &__ordenar-mobile {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        p {
          color: $black;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
        }
      }
    }

    &__filtros {
      @media (max-width: 1024px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1500px;
        background-color: $white;
        display: none;
      }

      display: flex;
      flex-direction: column;
      min-width: 157px;
      width: 157px;

      h3 {
        color: $black2;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.8px;

        @media (max-width: 1024px) {
          color: $gray2;
          font-size: 24px;
          font-style: normal;
          letter-spacing: 1.2px;
        }
      }

      &__filtrar-mobile {
        @media (min-width: 1025px) {
          display: none;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid $gray2;
        margin-bottom: 30px;

        p {
          color: $gray2;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        svg {
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }

      &__cores {
        margin-bottom: 24px;

        @media (max-width: 1024px) {
          padding: 0 16px;
          margin-bottom: 0;
        }

        h3 {
          margin-bottom: 4px;

          @media (max-width: 1024px) {
            margin-bottom: 20px;
          }
        }

        &__mobile {
          @media (max-width: 1024px) {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
          }

          svg {
            width: 18px;
            height: 13px;
            margin-top: 10px;

            @media (min-width: 1025px) {
              display: none;
            }
          }
        }

        &__labels {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 10px;

          @media (max-width: 1024px) {
            display: none;
            margin-top: 0;
            margin-bottom: 10px;
          }

          label {
            cursor: pointer;
            color: $black;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            svg {
              position: absolute;
              background-color: white;
              width: 16px;
              height: 16px;
            }

            input {
              margin: 0 12px 0 0;
              &:checked {
                &::before {
                  position: absolute;
                  content: "";
                  top: 2px;
                  left: 3px;
                  width: 10px;
                  height: 10px;
                  background-color: $blue;
                  display: block;
                }
              }
            }
          }
        }

        &__ver-todas {
          cursor: pointer;
          margin-top: 10px;

          @media (max-width: 1024px) {
            display: none;
          }

          span {
            color: $gray2;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            text-decoration-line: underline;
            margin-right: 2px;
          }

          svg {
            width: 7px;
            height: 5px;
          }
        }
      }

      &__tamanhos {
        margin-bottom: 24px;

        @media (max-width: 1024px) {
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 0 16px;
        }

        h3 {
          margin-bottom: 24px;

          @media (max-width: 1024px) {
            margin-bottom: 20px;
          }
        }

        &__mobile {
          @media (max-width: 1024px) {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
          }

          svg {
            width: 18px;
            height: 13px;
            margin-top: 10px;

            @media (min-width: 1025px) {
              display: none;
            }
          }
        }

        &__labels {
          display: flex;
          gap: 8px;
          flex-wrap: wrap;

          @media (max-width: 1024px) {
            display: none;
            width: 153px;
            margin-bottom: 20px;
          }

          label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            cursor: pointer;
          }

          .selecionado {
            color: $black;
            border: 1px solid #00c0ee;
          }

          input {
            display: none;
          }
        }
      }

      &__precos {
        @media (max-width: 1024px) {
          padding: 0 16px;
        }

        h3 {
          margin-bottom: 14px;

          @media (max-width: 1024px) {
            margin-bottom: 20px;
          }
        }

        &__mobile {
          @media (max-width: 1024px) {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
          }

          svg {
            width: 18px;
            height: 13px;
            margin-top: 10px;

            @media (min-width: 1025px) {
              display: none;
            }
          }
        }

        &__labels {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 10px;

          @media (max-width: 1024px) {
            display: none;
          }

          label {
            cursor: pointer;
            color: $black;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            svg {
              position: absolute;
              background-color: white;
              width: 16px;
              height: 16px;
            }

            input {
              margin: 0 10px 0 0;
              &:checked {
                &::before {
                  position: absolute;
                  content: "";
                  top: 2px;
                  left: 3px;
                  width: 10px;
                  height: 10px;
                  background-color: $blue;
                  display: block;
                }
              }
            }
          }
        }
      }

      &__aplicar-limpar {
        @media (min-width: 1025px) {
          display: none;
        }

        display: flex;
        gap: 23px;
        justify-content: center;
        padding: 16px;

        button {
          width: 100%;
          height: 35px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
        }

        &__aplicar {
          background-color: $blue;
          color: $white;
          border: none;
        }
        &__limpar {
          background-color: $white;
          color: $gray2;
          border: 1px solid $gray2;
        }
      }
    }

    &__container {
      width: 100%;
      &__produtos {
        display: flex;
        flex-wrap: wrap;
        gap: 42px 64px;

        @media (max-width: 1024px) {
          gap: 18px 19px;
        }

        &__produto {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 22.1%;

          @media (max-width: 1200px) {
            width: 24%;
          }

          @media (max-width: 1024px) {
            width: 30%;
          }

          @media (max-width: 700px) {
            width: 47.231%;
          }

          @media (max-width: 374px) {
            width: 45%;
          }

          @media (max-width: 300px) {
            width: 100%;
          }

          figure {
            display: contents;

            img {
              width: 100%;
              margin-bottom: 10px;

              @media (max-width: 1024px) {
                margin-bottom: 8px;
              }
            }
          }

          h2 {
            margin-bottom: 10px;
            color: $black;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;

            @media (max-width: 1280px) {
              height: 38px;
            }

            @media (max-width: 1024px) {
              margin-bottom: 8px;
              height: unset;
            }

            @media (max-width: 374px) {
              height: 40px;
            }
            @media (max-width: 300px) {
              height: unset;
              text-align: center;
            }
          }

          &__preco {
            margin-bottom: 1px;
            color: $black;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media (max-width: 1024px) {
              margin-bottom: 0;
            }
          }

          &__parcelamento {
            margin-bottom: 14px;
            color: $gray2;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;

            @media (max-width: 1024px) {
              margin-bottom: 12px;
            }

            @media (max-width: 350px) {
              height: 45px;
            }

            @media (max-width: 300px) {
              height: unset;
            }
          }

          button {
            color: $white;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            background-color: $black;
            width: 100%;
            height: 33px;
            padding: 7px 49px;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
          }
        }
      }

      &__button {
        display: flex;
        justify-content: center;
        margin-top: 70px;

        @media (max-width: 1024px) {
          margin-top: 39px;
        }

        button {
          all: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 175px;
          height: 35px;
          background-color: $blue;
          color: $white;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
          margin-right: 160px;

          @media (max-width: 1200px) {
            margin-right: 50px;
          }

          @media (max-width: 1024px) {
            margin-right: 0px;
          }
        }
      }
    }
  }

  .carrinho {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $white;
    width: 500px;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 4px solid $blue;

    @media (max-width: 1024px) {
      width: 100%;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 20px 40px 20px 50px;
      background-color: $blue;
      align-items: center;
      height: 70px;
      color: $white;

      h4 {
        font-size: 30px;
      }

      p {
        font-size: 25px;
        font-family: Roboto, sans-serif;
        cursor: pointer;
      }
    }

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 20px;
      flex-wrap: wrap;

      @media (max-width: 1024px) {
        padding: 10px;
      }

      img {
        width: 60px;
        height: 80px;
        border-radius: 20px;
      }

      &__nome {
        display: flex;
        align-items: center;
        text-align: center;

        @media (max-width: 1024px) {
          flex-direction: column;
        }

        h3 {
          font-size: 14px;
          width: 110px;
        }

        &__qtd {
          display: flex;

          @media (max-width: 1024px) {
            margin-top: 10px;
          }

          button {
            background-color: $blue;
            color: $white;
            font-size: 20px;
            border: none;
            border-radius: 5px;
            height: 20px;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
          }

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;

            @media (max-width: 360px) {
              width: 50px;
            }
          }
        }
      }

      .preco-item {
        font-size: 14px;
        width: 60px;
      }

      .remove-from-cart-button {
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    &__continuar {
      display: flex;
      justify-content: center;
      margin: 50px 10px 0;

      button {
        color: $gray2;
        width: 300px;
        height: 45px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
    }

    &__vazio {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      color: $gray2;
      margin-top: 130px;
      margin-bottom: 30px;
    }

    &__total {
      display: flex;
      gap: 25px;
      justify-content: center;
      margin: 30px 30px 0px;

      @media (max-width: 1024px) {
        margin: 20px 0 0;
        gap: 10px;
        flex-direction: column;
        align-items: center;
      }
    }

    &__finalizar {
      display: flex;
      justify-content: center;
      margin: 20px 10px 10px;

      button {
        color: $white;
        width: 300px;
        height: 45px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        background-color: rgb(9, 179, 9);
      }
    }
  }
}

footer {
  margin-top: 35px;
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  background-color: $black;

  @media (max-width: 1024px) {
    margin-top: 44px;
  }

  p {
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-align: center;
  }
}

#mais-preco-menor,
#mais-preco-maior,
#carregar-mais-recente,
#todas-cores,
#ver-menos-cores,
#modal-carrinho,
#finalizar {
  display: none;
}
#labels-cores-mobile {
  @media (min-width: 1025px) {
    display: none;
  }
}
